{{page-title "Login"}}

<div class="row">
    <div class="col-md-6 border-right">
        Login here
        <MuLogin />
    </div>
    <div class="col-md-6">
        If you don't have an account register here.
        <MuRegister />
    </div>
</div>