<nav class="menu">
    <LinkTo @route="index" class="menu-index">
        <h1>PlaceHolder Title</h1>
    </LinkTo>
    <div class="links">
        <LinkTo @route="authenticated.add-expense" class="menu-link">
            Expenses
        </LinkTo>
        <LinkTo @route="authenticated.expenses" class="menu-link">
            Report
        </LinkTo>
        <LinkTo @route="authenticated.stats" class="menu-link">
            Stats
        </LinkTo>
    </div>

    <div class="settings">
        {{#if @auth}}
        <MuLogout />
        <LinkTo @route="authenticated.settings" class="menu-link">
            Settings
        </LinkTo>
        {{else}}
        <LinkTo @route="login" class="menu-link">
            Login
        </LinkTo>
        {{/if}}
    </div>
</nav>