<nav class="menu">
    <LinkTo @route="index" class="menu-index">
        <h1>PlaceHolder Title</h1>
    </LinkTo>
    <div class="links">
        <LinkTo @route="unprotected" class="menu-link">
            Page1
        </LinkTo>
        <LinkTo @route="unprotected" class="menu-link">
            Page2
        </LinkTo>
    </div>

    <div class="settings">
        {{!-- {{#if this.session.isAuthenticated}}
        console.log("test")
        <MuLogout />
        {{else}}
        <LinkTo @route="login" class="menu-link">
            Login
        </LinkTo>
        {{/if}} --}}
        <LinkTo @route="login" class="menu-link">
            Login
        </LinkTo>

        <LinkTo @route="authenticated.settings" class="menu-link">
            Settings
        </LinkTo>
    </div>
</nav>